@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

$yellow-olivercoding: rgb(201, 182, 76);
$grey-olivercoding: rgb(104, 123, 160);
$white-olivercoding: #F0F0F0;
$white-lighter-olivercoding: #F8F8F8;


// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $grey-olivercoding;
$primary-invert: $yellow-olivercoding;
$body-background-color: $white-olivercoding;
$box-background-color: $white-lighter-olivercoding;

// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 6. Increase navbar size attributes
$navbar-item-img-max-height: 2.0rem;

// 5. Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

/*! bulma.io v0.6.1 | MIT License | github.com/jgthms/bulma */
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/box";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/content";
@import "../../node_modules/bulma/sass/elements/form";
@import "../../node_modules/bulma/sass/elements/icon";
@import "../../node_modules/bulma/sass/elements/image";
@import "../../node_modules/bulma/sass/elements/notification";
@import "bulma_other";
@import "../../node_modules/bulma/sass/elements/progress";
@import "../../node_modules/bulma/sass/elements/table";
//TAG MESSES WITH PRISMJS.
//@import "../../node_modules/bulma/sass/elements/tag";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";
